<%- include('./include/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>Campaigns</h1>
        <ul class="campaign_ul">
            <% if (campaigns.length > 0) { %>
                <% for (let campaign of campaigns) { %>
                <li class="campaign-link-li">
                    <a class="char_level" href="/campaign/<%= campaign %>"><%= campaign %></a>
                </li>
                <% } %>
            <% } %>
        </ul>
    </main>
<%- include('./include/end.ejs') %>
