<%- include('./include/head.ejs') %>
     <link rel="stylesheet" href="/css/campaigns.css">
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>Campaigns</h1>
        <ul class="grid">
            <% if (campaigns.length > 0) { %>
                <% for (let campaign of campaigns) { %>
                <article class="card campaign-item">
                                
                                <div class="card__image">
                                    <img src="/<%= campaign.imageUrl %>" alt="<%= campaign.title %>">
                                </div>
                                <div class="card__content">
                                    <h1 class="campaign__title">
                                        <%= campaign.title %>
                                    </h1>
                                </div>
                                <a class="card_link" href="/campaigns/<%= campaign._id %>"></a>
                            </article>
                <% } %>
            <% } %>
        </ul>
    </main>
<%- include('./include/end.ejs') %>
