<%- include('./include/head.ejs') %>

    <%- include('./include/nav.ejs') %>
    <main>   
        <ul class="flex flex-wrap gap-4 justify-center">
            <% if (campaigns.length > 0) { %>
                <% for (let campaign of campaigns) { %>
                <div>
                    <a href="/campaign/<%= campaign._id %>" class="block max-w-2xs aspect-square p-3 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <img class="w-7/10 mx-auto" src="/images/<%= campaign.imageUrl %>" alt="<%= campaign.title %>">
                        <h1 class="pt-3 pb-1 border-b-1 border-b-gray-300 font-semibold border-transparent text-center text-cyan-400">
                            <%= campaign.title %>
                        </h1>
                        <div class="card__content">
                            <p class="text-xs pt-0 pb-3 text-center text-cyan-400">
                                <%= campaign.description %>
                            </p>
                        </div>
                    </a>
                        <input type="hidden" value="<%= campaign._id %>" name="campaignId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </div>
                <% } %>
            <% } %>
        </ul>
    </main>
<%- include('./include/end.ejs') %>
