<%- include('./include/head.ejs') %>
   <link rel="stylesheet" href="/css/campaign.css">
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <header class="card__header">
            <h1 class="campaign__title">
                <%= campaign.title %>
            </h1>
        </header>
        <div class="card__image">
            <img src="/images/<%= campaign.imageUrl %>" alt="<%= campaign.title %>">
        </div>
        <div class="card__content">
            <p class="campaign__description">
                <%= campaign.description %>
            </p>
        </div>
    </main>
<%- include('./include/end.ejs') %>
