<%- include('./include/head.ejs') %>
     <link rel="stylesheet" href="/css/cards.css">
</head>

<body class="bg-gray-900">
    <%- include('./include/nav.ejs') %>

    <main>
        <ul class="flex flex-wrap gap-4 justify-center">
            <% if (characters.length > 0) { %>
                <% for (let character of characters) { %>
                    <article 
                    class="block max-w-32 md:max-w-50 aspect-square p-1 md:p-3 border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <h1 class="pb-1 border-b-1 border-b-gray-300 font-semibold border-transparent text-center text-cyan-400">
                                        <%= character.name %>
                            </h1>
                            <img class="pt-3 pb-3 w-7/10 mx-auto" src="/images/<%= character.imageUrl %>" alt="<%= character.title %>">
                            <p class="text-xs text-center text-cyan-400">
                                Level <%= character.level %> <%= character.description %> 
                            </p>
                            <div class="card__actions font-semibold text-amber-600">
                                <a target="_blank" href="/chars/<%= character.characterSheetUrl %>" class="btn">Download pdf</a>
                                <input type="hidden" value="<%= character._id %>" name="characterId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </div>
                    </article>
                <% } %>
            <% } %>
        </ul>
    </main>
<%- include('./include/end.ejs') %>