<%- include('./include/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>Pregen Characters</h1>
        <ul class="level_ul">
            <% if (levels.length > 0) { %>
                <% for (let level of levels) { %>
                <li class="level-link-li">
                    <a class="char_level" href="/characters/<%= level %>"><%= level %></a>
                </li>
                <% } %>
            <% } %>
        </ul>
    </main>
<%- include('./include/end.ejs') %>