<%- include('./include/head.ejs') %>
     <link rel="stylesheet" href="/css/cards.css">
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>characters</h1>
        <ul class="grid">
            <% if (characters.length > 0) { %>
                <% for (let character of characters) { %>
                <article class="card character-item">
                                <header class="card__header">
                                    <h1 class="character__name">
                                        <%= character.name %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="/images/<%= character.imageUrl %>" alt="<%= character.title %>">
                                </div>
                                <div class="card__content">
                                    <p class="character__description">
                                        Level <%= character.level %> <%= character.description %> 
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a target="_blank" href="/chars/<%= character.characterSheetUrl %>" class="btn">Download pdf</a>
                                    <input type="hidden" value="<%= character._id %>" name="characterId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </div>
                            </article>
                <% } %>
            <% } %>
        </ul>
    </main>
<%- include('./include/end.ejs') %>