<%- include('../include/head.ejs') %>
    <link rel="stylesheet" href="/public/css/forms.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
   <%- include('../include/nav.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form id="campaign-form" class="campaign-form" action="/admin/<% if (editing) { %>edit-campaign<% } else { %>add-campaign<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%= validationErrors.find(e => e.path === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || hasError) { %><%= campaign.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input class="image-input"
                    type="file" 
                    name="image" 
                    id="image" 
                >
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.path === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    rows="5"><% if (editing || hasError) { %><%= campaign.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input id="campId" type="hidden" value="<%= campaign._id %>" name="campaignId">
            <% } %>

            <input id="CSRFToken" type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button id="submitId" class="btn" type="submit"><% if (editing) { %>Update campaign<% } else { %>Add campaign<% } %></button>
        </form>
        <% if (editing) { %>
            
            <input id="CSRFToken" type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button id="del-btn" class="btn" type="button">Delete</button>
            
        <% } %>
    </main>
    <script  nonce="<%= cspNonce %>">
    //        document.getElementById("submitId").addEventListener("click", function(event){
    //            event.preventDefault();
    //            const formData = new FormData(document.getElementById("campaign-form"));
    //            const title = document.getElementById("title").value;
    //            const description = document.getElementById("description").value;
    //            const image = document.getElementById("image").files[0];
    //            const csrfToken = document.getElementById('csrf').value;
    //            const campId = "";
    //            "<% if(editing) { %>"
    //            campId = document.getElementById("campId").value;
    //            formData.append('campId', campId);
    //            "<% } %>"
    //            
    //            const data = {
    //                title: title,
    //                description: description,
    //                image: image,
    //                campId: campId,
    //                _csrf: csrfToken
    //            }
    //            console.log(formData);
    //            fetch('/admin/<% if (editing) { %>edit-campaign<% } else { %>add-campaign<% } %>',{
    //                method: 'POST',
    //                body: formData
    //            })
    //            .then(res => {
    //                    console.log(res);
    //            });
//
    //        })
            "<% if(editing) { %>"
            document.getElementById("del-btn").addEventListener("click", function() {
                $.ajax({
                        url: '/admin/campaign/<% if (editing) { %><%= campaign._id %><% } %>',
                        type: 'DELETE',
                        headers:{
                            'x-csrf-token': '<%= csrfToken %>'
                        },
                        success: function(res){
                            //window.location.href = '/admin/campaigns';
                            console.log("Success")
                            location.href = "/admin/campaigns"
                        },
                        error: (xhr, status, err) => {
                            console.log('Error deleting campaign')
                        }
                    })
                }

            )
            "<% } %>"

            
        
   
    </script>
<%- include('../include/end.ejs') %>